<!DOCTYPE html>
<html>
  <head>
    <title>Document</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
  <body>
    <div class="outerbox">
      <div class="inner-box">
        <header class="signup-header">
          <h1>Post Image</h1>
       <p>It just takes 30 second</p>
      </header>
      <main class="signup-page">
  <form action="/register" method="post">
    <p>
      <label for="User Name">User Name</label>
    <input type="text" name="userName" placeholder="userName">
  </p>
  <p>
    <label for="age">Your Age</label>
    <input type="text" name="age" placeholder="age">
  </p>
  <p>
    <label for="email">Your Email</label>
    <input type="text" name="email" placeholder="email">
  </p>
  <p>
    <label for="Contact">Your Contact</label>
    <input type="text" name="contact" placeholder="contact">
  </p>
  <p>
    <label for="Image">Image</label>
    <input type="text" name="image" placeholder="image">
  </p>
  <p>
    <input type="submit" id="submit" value="submit">
  </p>
  </form>
</main>
</div>
<div class="circle c1"></div>
<div class="circle c2"></div>
</div>
</body>
</html>
